In [1]:
import pandas as pd

In [5]:
URL = "data/Información de contacto (Respuestas).xlsx"
data = pd.read_excel(URL, sheet_name='Respuestas de formulario 1')
data.head()

,Marca temporal,Dirección de correo electrónico,Nombre,Escribe un número,En qué estado vivo (departamento/provincia si no estoy en México),Edad,Género,Me gusta la música:,Animales que me tengo,"Shows que me gustan 3 separados por coma (ej. Game of Thrones, Naruto, Betty la Fea)",Me considero,Mi hora de dormir es a las,Sé quién es Zaboo Mafoo
0,2022-10-06 18:48:37.272,adamianmm@gmail.com,Damian,3.0,CDMX,22,Hombre,"Pop, Reggaeton, Clásica, Rock, Hip Hop",Gatos,"Naruto, Grey's Anatomy, Lost",3,11:30:00,Si
1,2022-10-06 18:49:07.173,sebastianzarraga43@aragon.unam.mx,Sebastian Zaaraga,10.0,Mexico,22,Hombre,"Reggaeton, Hip Hop","Perros, Peces","Game of Thrones , Naruto , Sons of Anarchy",1,10:00:00,Si
2,2022-10-06 18:49:15.867,mariogaiden2@ciencias.unam.mx,Mario Guadiana Martinez,10.0,Guanajuato,27,Hombre,Hip Hop,Gatos,"Alf, príncipe de beler, prision break",2,11:00:00,No
3,2022-10-06 18:49:32.537,cecy.95.ad@gmail.com,Cecilia,14.0,Sinaloa,26,Mujer,Pop,NaN,"one piece, siete pecados capitales.",3,11:30:00,No
4,2022-10-06 18:49:33.193,fabricioescalantep@gmail.com,Fabricio E,13.0,CDMX,21,Hombre,"Metal, Reggaeton, Clásica, Rock, Jazz",Perros,"Mindhunter, How I Met Your Mother, Attack On T...",2,03:30:00,Si

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 13 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   Marca temporal                                                                        15 non-null     datetime64[ns]
 1   Dirección de correo electrónico                                                       15 non-null     object
 2   Nombre                                                                                15 non-null     object
 3   Escribe un número                                                                     14 non-null     float64
 4   En qué estado vivo (departamento/provincia si no estoy en México)                     15 non-null     object
 5   Edad                                                                                  15 non-null     int64
 6   Género                                                                                15 non-null     object
 7   Me gusta  la música:                                                                  15 non-null     object
 8   Animales que me tengo                                                                 14 non-null     object
 9   Shows que me gustan 3 separados por coma (ej. Game of Thrones, Naruto, Betty la Fea)  15 non-null     object
 10  Me considero                                                                          15 non-null     int64
 11  Mi hora de dormir es a las                                                            15 non-null     object
 12  Sé quién es Zaboo Mafoo                                                               15 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 1.6+ KB

In [7]:
# cambiando el nombre de las columnas para facilicitar la limpieza y visualización de los datos

rename_columns = {'En qué estado vivo (departamento/provincia si no estoy en México)': 'Estado', 'Me gusta  la música:':'Genero musical',
                    'Dirección de correo electrónico': 'correo', 'Animales que me tengo': 'mis mascotas',
                    'Shows que me gustan 3 separados por coma (ej. Game of Thrones, Naruto, Betty la Fea)': 'tv shows',
                    'Me considero': 'Extrovertido (1-5)', 'Mi hora de dormir es a las': 'hora de dormir'}

data.rename(columns=rename_columns, inplace=True)

In [8]:
data.head()

,Marca temporal,correo,Nombre,Escribe un número,Estado,Edad,Género,Genero musical,mis mascotas,tv shows,Extrovertido (1-5),hora de dormir,Sé quién es Zaboo Mafoo
0,2022-10-06 18:48:37.272,adamianmm@gmail.com,Damian,3.0,CDMX,22,Hombre,"Pop, Reggaeton, Clásica, Rock, Hip Hop",Gatos,"Naruto, Grey's Anatomy, Lost",3,11:30:00,Si
1,2022-10-06 18:49:07.173,sebastianzarraga43@aragon.unam.mx,Sebastian Zaaraga,10.0,Mexico,22,Hombre,"Reggaeton, Hip Hop","Perros, Peces","Game of Thrones , Naruto , Sons of Anarchy",1,10:00:00,Si
2,2022-10-06 18:49:15.867,mariogaiden2@ciencias.unam.mx,Mario Guadiana Martinez,10.0,Guanajuato,27,Hombre,Hip Hop,Gatos,"Alf, príncipe de beler, prision break",2,11:00:00,No
3,2022-10-06 18:49:32.537,cecy.95.ad@gmail.com,Cecilia,14.0,Sinaloa,26,Mujer,Pop,NaN,"one piece, siete pecados capitales.",3,11:30:00,No
4,2022-10-06 18:49:33.193,fabricioescalantep@gmail.com,Fabricio E,13.0,CDMX,21,Hombre,"Metal, Reggaeton, Clásica, Rock, Jazz",Perros,"Mindhunter, How I Met Your Mother, Attack On T...",2,03:30:00,Si

In [10]:
data_frame = []
for column in ['Genero musical', 'mis mascotas', 'tv shows']:
    x = 'g' if 'Genero musical' in column else 'm' if 'mis mascotas' in column else 's'
    new_data = data[column].str.split(',', expand=True)
    new_data.rename(columns={col: str(col) + x  for col in new_data.columns}, inplace=True)
    data_frame.append(new_data)

new_data = data.join(data_frame).drop(columns=['Genero musical', 'mis mascotas', 'tv shows'])
new_data.head()

,Marca temporal,correo,Nombre,Escribe un número,Estado,Edad,Género,Extrovertido (1-5),hora de dormir,Sé quién es Zaboo Mafoo,...,1g,2g,3g,4g,0m,1m,2m,0s,1s,2s
0,2022-10-06 18:48:37.272,adamianmm@gmail.com,Damian,3.0,CDMX,22,Hombre,3,11:30:00,Si,...,Reggaeton,Clásica,Rock,Hip Hop,Gatos,None,None,Naruto,Grey's Anatomy,Lost
1,2022-10-06 18:49:07.173,sebastianzarraga43@aragon.unam.mx,Sebastian Zaaraga,10.0,Mexico,22,Hombre,1,10:00:00,Si,...,Hip Hop,None,None,None,Perros,Peces,None,Game of Thrones,Naruto,Sons of Anarchy
2,2022-10-06 18:49:15.867,mariogaiden2@ciencias.unam.mx,Mario Guadiana Martinez,10.0,Guanajuato,27,Hombre,2,11:00:00,No,...,None,None,None,None,Gatos,None,None,Alf,príncipe de beler,prision break
3,2022-10-06 18:49:32.537,cecy.95.ad@gmail.com,Cecilia,14.0,Sinaloa,26,Mujer,3,11:30:00,No,...,None,None,None,None,NaN,NaN,NaN,one piece,siete pecados capitales.,None
4,2022-10-06 18:49:33.193,fabricioescalantep@gmail.com,Fabricio E,13.0,CDMX,21,Hombre,2,03:30:00,Si,...,Reggaeton,Clásica,Rock,Jazz,Perros,None,None,Mindhunter,How I Met Your Mother,Attack On Titan

In [14]:
new_data.columns[:10]

Index(['Marca temporal', 'correo', 'Nombre', 'Escribe un número', 'Estado',
       'Edad', 'Género', 'Extrovertido (1-5)', 'hora de dormir',
       'Sé quién es Zaboo Mafoo'],
      dtype='object')

In [17]:
def strip_capitalize(string):
    string = string.strip()
    string = string.capitalize()
    if '&' in string:
        string = string.replace('&', 'y')
    elif 'Siete' in string:
        string = string.replace('.', '')
    return string

In [18]:
new_data_melt = pd.melt(new_data, id_vars=new_data.columns[:10]).drop(columns='variable')
new_data_melt.drop(new_data_melt[new_data_melt['value'].isnull()].index, inplace=True)
new_data_melt['value'] = new_data_melt['value'].apply(strip_capitalize)

In [27]:
new_data_dummi = pd.get_dummies(new_data_melt, columns = ['value'], drop_first = [True], prefix = ['D'])
new_data_dummi.head()

,Marca temporal,correo,Nombre,Escribe un número,Estado,Edad,Género,Extrovertido (1-5),hora de dormir,Sé quién es Zaboo Mafoo,...,D_Rick y morty,D_Rock,D_Siete pecados capitales,D_Sons of anarchy,D_Suits,D_The 100,D_The midnight gospel,D_The rings of power,D_The serpent queen,D_Vikingos
0,2022-10-06 18:48:37.272,adamianmm@gmail.com,Damian,3.0,CDMX,22,Hombre,3,11:30:00,Si,...,0,0,0,0,0,0,0,0,0,0
1,2022-10-06 18:49:07.173,sebastianzarraga43@aragon.unam.mx,Sebastian Zaaraga,10.0,Mexico,22,Hombre,1,10:00:00,Si,...,0,0,0,0,0,0,0,0,0,0
2,2022-10-06 18:49:15.867,mariogaiden2@ciencias.unam.mx,Mario Guadiana Martinez,10.0,Guanajuato,27,Hombre,2,11:00:00,No,...,0,0,0,0,0,0,0,0,0,0
3,2022-10-06 18:49:32.537,cecy.95.ad@gmail.com,Cecilia,14.0,Sinaloa,26,Mujer,3,11:30:00,No,...,0,0,0,0,0,0,0,0,0,0
4,2022-10-06 18:49:33.193,fabricioescalantep@gmail.com,Fabricio E,13.0,CDMX,21,Hombre,2,03:30:00,Si,...,0,0,0,0,0,0,0,0,0,0

In [28]:
def funtion(df):
    new_dataframe = {}
    for column in df.columns:
        if column in df.columns[10:]:
            new_dataframe[column] = [1 if 1 in list(df[df['Nombre'] == df['Nombre'].values[0]][column]) else 0]
        else:
            new_dataframe[column] = df[column].values[0]

    return pd.DataFrame(new_dataframe)

new_data_d_merge = new_data_dummi.groupby('Nombre').apply(funtion).droplevel(-1).reset_index(drop=True)
new_data_d_merge

,Marca temporal,correo,Nombre,Escribe un número,Estado,Edad,Género,Extrovertido (1-5),hora de dormir,Sé quién es Zaboo Mafoo,...,D_Rick y morty,D_Rock,D_Siete pecados capitales,D_Sons of anarchy,D_Suits,D_The 100,D_The midnight gospel,D_The rings of power,D_The serpent queen,D_Vikingos
0,2022-10-06 18:49:32.537,cecy.95.ad@gmail.com,Cecilia,1.400000e+01,Sinaloa,26,Mujer,3,11:30:00,No,...,0,0,1,0,0,0,0,0,0,0
1,2022-10-06 18:48:37.272,adamianmm@gmail.com,Damian,3.000000e+00,CDMX,22,Hombre,3,11:30:00,Si,...,0,1,0,0,0,0,0,0,0,0
2,2022-10-06 18:51:20.939,fabi.say14@gmail.com,Fabiola,5.000000e+00,Estado de México,27,Mujer,2,11:50:00,Si,...,0,1,0,0,0,0,0,0,0,0
3,2022-10-06 18:49:33.193,fabricioescalantep@gmail.com,Fabricio E,1.300000e+01,CDMX,21,Hombre,2,03:30:00,Si,...,0,1,0,0,0,0,0,0,0,0
4,2022-10-06 18:50:10.124,sandovalparedesimc@gmail.com,Fernanda Sandoval,7.700000e+01,Ciudad de México,25,Mujer,2,12:00:00,Si,...,0,0,0,0,0,0,1,0,0,0
5,2022-10-06 18:51:59.615,gabrielaa.jimenez10@gmail.com,Gabriela,9.000000e+00,Edo Mex,25,Mujer,1,12:00:00,Si,...,1,1,0,0,0,0,0,0,0,1
6,2022-10-06 18:50:38.266,gerardoatf@gmail.com,Gerardo,7.000000e+00,CDMX,24,Hombre,2,23:00:00,Si,...,0,0,0,0,1,0,0,0,0,0
7,2022-10-06 18:50:20.048,ramiro2689@outlook.com,Jorge Ramiro,2.600000e+01,Tabasco,25,Hombre,2,00:00:00,No,...,1,1,0,0,0,1,0,0,0,0
8,2022-10-06 18:55:12.534,lau.gpe.03@gmail.com,Laura Guadalupe Guzmán Mendoza,NaN,Puebla,27,Mujer,1,23:59:00,No,...,0,1,0,0,0,0,0,0,0,0
9,2022-10-06 18:49:15.867,mariogaiden2@ciencias.unam.mx,Mario Guadiana Martinez,1.000000e+01,Guanajuato,27,Hombre,2,11:00:00,No,...,0,0,0,0,0,0,0,0,0,0
10,2022-10-06 18:49:53.975,matias.iglesias.rios@gmail.com,Matias,1.681100e+00,Morelos,24,Hombre,3,23:00:00,No,...,0,1,0,0,0,1,0,1,0,0
11,2022-10-06 18:52:10.667,saul_x5@hotmail.com,Saúl Eduardo,6.000000e+00,Nuevo León,24,Hombre,2,08:30:00,No,...,0,1,0,0,0,0,0,0,0,0
12,2022-10-06 18:49:07.173,sebastianzarraga43@aragon.unam.mx,Sebastian Zaaraga,1.000000e+01,Mexico,22,Hombre,1,10:00:00,Si,...,0,0,0,1,0,0,0,0,0,0
13,2022-10-06 18:51:44.544,x170008@unach.mx,Susana,9.671339e+09,Chiapas,23,Mujer,2,11:59:00,No,...,0,0,0,0,0,0,0,0,0,0
14,2022-10-06 18:50:03.355,contacto@aidei.com.mx,Viviana,8.000000e+00,Guadalajara,50,Mujer,5,02:00:00,Si,...,0,1,0,0,0,0,0,0,1,0